# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
data/GTFS/S_20211012.zip
data/GTFS/SW_20211012.zip
data/GTFS/rail_20211009.zip
data/GTFS/NW_20211012.zip
data/GTFS/NE_20211012.zip
data/GTFS/L_20211012.zip
data/GTFS/EM_20211012.zip
data/GTFS/EA_20211012.zip
data/NTEM/EAST_280217_72.zip
data/NTEM/EM_280217_72.zip
data/NTEM/LON_280217_72.zip
data/NTEM/NE_140217_72.mdb
data/NTEM/NE_280217_72.zip
data/NTEM/NTEM72-documentation.zip
data/NTEM/NW_280217_72.zip
data/NTEM/SCOTLAND_280217_72.zip
data/NTEM/SE_280217_72.zip
data/NTEM/shp-format-version-7-december-2016.zip
data/NTEM/SW_280217_72.zip
data/NTEM/TEMPro-Version-7.2-Setup-and-Docs.zip
data/NTEM/WALES_280217_72.zip
data/NTEM/WM_280217_72.zip
data/NTEM/YH_280217_72.zip
data/GTFS/W_20211012.zip
otp_parallel_log.txt
temp_naptan/Stops.csv
lucene/_3o.cfe
lucene/_3o.cfs
lucene/_3o.si
lucene/_3y.fdt
lucene/_3y.fdx
lucene/_3y.fnm
lucene/_3y.nvd
lucene/_3y.nvm
lucene/_3y.si
lucene/_3y_Lucene41_0.doc
lucene/_3y_Lucene41_0.pos
lucene/_3y_Lucene41_0.tim
lucene/_3y_Lucene41_0.tip
lucene/_4t.cfe
lucene/_4t.cfs
lucene/_4t.si
lucene/_71.fdt
lucene/_71.fdx
lucene/_71.fnm
lucene/_71.nvd
lucene/_71.nvm
lucene/_71.si
lucene/_71_Lucene41_0.doc
lucene/_71_Lucene41_0.pos
lucene/_71_Lucene41_0.tim
lucene/_71_Lucene41_0.tip
lucene/_7c.cfe
lucene/_7c.cfs
lucene/_7c.si
lucene/_7m.cfe
lucene/_7m.cfs
lucene/_7m.si
lucene/_7o.cfe
lucene/_7o.cfs
lucene/_7o.si
lucene/_7w.cfe
lucene/_7w.cfs
lucene/_7w.si
lucene/_86.cfe
lucene/_86.cfs
lucene/_86.si
lucene/_8f.cfe
lucene/_8f.cfs
lucene/_8f.si
lucene/_8p.cfe
lucene/_8p.cfs
lucene/_8p.si
lucene/_8v.cfe
lucene/_8v.cfs
lucene/_8v.si
lucene/_8y.cfe
lucene/_8y.cfs
lucene/_8y.si
lucene/_8z.cfe
lucene/_8z.cfs
lucene/_8z.si
lucene/segments.gen
lucene/segments_1
data/NTS/2018/national-travel-survey-2018.pdf
data/NTS/2018/national-travel-survey-2018.zip
data/NTS/2018/nts-2018-notes-and-definitions.pdf
data/NTS/2018/nts-2018-quality-report.pdf
data/NTS/2018/nts-2018-standard-errors.ods
data/NTS/2018/nts-2018-table-index.ods
data/NTS/2018/nts-2018-technical-report.pdf
data/NTS/2019/national-travel-survey-2019.pdf
data/NTS/2019/national-travel-survey-2019.zip
data/NTS/2019/national-travel-survey-notes-and-definitions.pdf
data/NTS/2019/nts-2019-quality-report.pdf
data/NTS/2019/nts-2019-table-index.ods
data/NTS/2019/nts-2019-technical-report.pdf
data/NTS/2019/nts0001.ods
data/NTS/nts0409.ods
data/NTS/NTS_2000_2019.zip
data/NTS/NTS_2000_2019/UKDA-5340-tab/5340_file_information.rtf
data/NTS/NTS_2000_2019/UKDA-5340-tab/mrdoc/excel/5340_nts-2018-standard-errors.xlsx
data/NTS/NTS_2000_2019/UKDA-5340-tab/mrdoc/excel/5340_nts_lookup_table_all_variables_by_level_and_licence_2018.xlsx
data/NTS/NTS_2000_2019/UKDA-5340-tab/mrdoc/excel/5340_nts_lookup_table_banded_variables_2018.xlsx
data/NTS/NTS_2000_2019/UKDA-5340-tab/mrdoc/pdf/5340_national-travel-survey-2019.pdf
data/NTS/NTS_2000_2019/UKDA-5340-tab/mrdoc/pdf/5340_nts-2018-notes-and-definitions.pdf
data/NTS/NTS_2000_2019/UKDA-5340-tab/mrdoc/pdf/5340_nts-2018-quality-report.pdf
data/NTS/NTS_2000_2019/UKDA-5340-tab/mrdoc/pdf/5340_nts_technical_report_2003_2004.pdf
data/NTS/NTS_2000_2019/UKDA-5340-tab/mrdoc/pdf/5340_nts_technical_report_2006.pdf
data/NTS/NTS_2000_2019/UKDA-5340-tab/mrdoc/pdf/5340_nts_technical_report_2008.pdf
data/NTS/NTS_2000_2019/UKDA-5340-tab/mrdoc/pdf/5340_nts_technical_report_2010.pdf
data/NTS/NTS_2000_2019/UKDA-5340-tab/mrdoc/pdf/5340_nts_technical_report_2011.pdf
data/NTS/NTS_2000_2019/UKDA-5340-tab/mrdoc/pdf/5340_nts_technical_report_2012.pdf
data/NTS/NTS_2000_2019/UKDA-5340-tab/mrdoc/pdf/5340_nts_technical_report_2014.pdf
data/NTS/NTS_2000_2019/UKDA-5340-tab/mrdoc/pdf/5340_nts_technical_report_2015.pdf
data/NTS/NTS_2000_2019/UKDA-5340-tab/mrdoc/pdf/5340_nts_technical_report_2016.pdf
data/NTS/NTS_2000_2019/UKDA-5340-tab/mrdoc/pdf/5340_nts_technical_report_2017.pdf
data/NTS/NTS_2000_2019/UKDA-5340-tab/mrdoc/pdf/5340_nts_technical_report_2018.pdf
data/NTS/NTS_2000_2019/UKDA-5340-tab/mrdoc/pdf/5340_nts_user_guidance_1995-2016.pdf
data/NTS/NTS_2000_2019/UKDA-5340-tab/mrdoc/UKDA/UKDA_Study_5340_Information.htm
data/NTS/NTS_2000_2019/UKDA-5340-tab/mrdoc/ukda_data_dictionaries.zip
data/NTS/NTS_2000_2019/UKDA-5340-tab/read5340.htm
data/NTS/NTS_2000_2019/UKDA-5340-tab/tab/attitudes_eul_2002-2019.tab
data/NTS/NTS_2000_2019/UKDA-5340-tab/tab/day_eul_2002-2019.tab
data/NTS/NTS_2000_2019/UKDA-5340-tab/tab/household_eul_2002-2019.tab
data/NTS/NTS_2000_2019/UKDA-5340-tab/tab/individual_eul_2002-2019.tab
data/NTS/NTS_2000_2019/UKDA-5340-tab/tab/ldj_eul_2002-2019.tab
data/NTS/NTS_2000_2019/UKDA-5340-tab/tab/psu_eul_2002-2019.tab
data/NTS/NTS_2000_2019/UKDA-5340-tab/tab/stage_eul_2002-2019.tab
data/NTS/NTS_2000_2019/UKDA-5340-tab/tab/ticket_eul_2002-2019.tab
data/NTS/NTS_2000_2019/UKDA-5340-tab/tab/trip_eul_2002-2019.tab
data/NTS/NTS_2000_2019/UKDA-5340-tab/tab/vehicle_eul_2002-2019.tab
data/ttmatrix/ttmatrix_drive_chunk_10_from_2522_to_2621.Rds
data/ttmatrix/ttmatrix_drive_chunk_11_from_2622_to_2721.Rds
data/ttmatrix/ttmatrix_drive_chunk_12_from_2722_to_2821.Rds
data/ttmatrix/ttmatrix_drive_chunk_13_from_2822_to_2921.Rds
data/ttmatrix/ttmatrix_drive_chunk_14_from_2922_to_3021.Rds
data/ttmatrix/ttmatrix_drive_chunk_15_from_3022_to_3121.Rds
data/ttmatrix/ttmatrix_drive_chunk_16_from_3122_to_3221.Rds
data/ttmatrix/ttmatrix_drive_chunk_17_from_3222_to_3321.Rds
data/ttmatrix/ttmatrix_drive_chunk_18_from_3322_to_3421.Rds
data/ttmatrix/ttmatrix_drive_chunk_19_from_3422_to_3521.Rds
data/ttmatrix/ttmatrix_drive_chunk_1_from_1622_to_1721.Rds
data/ttmatrix/ttmatrix_drive_chunk_1_from_1_to_202.Rds
data/ttmatrix/ttmatrix_drive_chunk_20_from_3522_to_3621.Rds
data/ttmatrix/ttmatrix_drive_chunk_21_from_3622_to_3721.Rds
data/ttmatrix/ttmatrix_drive_chunk_22_from_3722_to_3821.Rds
data/ttmatrix/ttmatrix_drive_chunk_23_from_3822_to_3921.Rds
data/ttmatrix/ttmatrix_drive_chunk_24_from_3922_to_4021.Rds
data/ttmatrix/ttmatrix_drive_chunk_25_from_4022_to_4121.Rds
data/ttmatrix/ttmatrix_drive_chunk_26_from_4122_to_4221.Rds
data/ttmatrix/ttmatrix_drive_chunk_27_from_4222_to_4321.Rds
data/ttmatrix/ttmatrix_drive_chunk_28_from_4322_to_4421.Rds
data/ttmatrix/ttmatrix_drive_chunk_29_from_4422_to_4521.Rds
data/ttmatrix/ttmatrix_drive_chunk_2_from_1722_to_1821.Rds
data/ttmatrix/ttmatrix_drive_chunk_2_from_203_to_405.Rds
data/ttmatrix/ttmatrix_drive_chunk_30_from_4522_to_4621.Rds
data/ttmatrix/ttmatrix_drive_chunk_31_from_4622_to_4721.Rds
data/ttmatrix/ttmatrix_drive_chunk_32_from_4722_to_4821.Rds
data/ttmatrix/ttmatrix_drive_chunk_33_from_4822_to_4921.Rds
data/ttmatrix/ttmatrix_drive_chunk_34_from_4922_to_5021.Rds
data/ttmatrix/ttmatrix_drive_chunk_35_from_5022_to_5121.Rds
data/ttmatrix/ttmatrix_drive_chunk_36_from_5122_to_5221.Rds
data/ttmatrix/ttmatrix_drive_chunk_37_from_5222_to_5321.Rds
data/ttmatrix/ttmatrix_drive_chunk_38_from_5322_to_5421.Rds
data/ttmatrix/ttmatrix_drive_chunk_39_from_5422_to_5521.Rds
data/ttmatrix/ttmatrix_drive_chunk_3_from_1822_to_1921.Rds
data/ttmatrix/ttmatrix_drive_chunk_3_from_406_to_607.Rds
data/ttmatrix/ttmatrix_drive_chunk_40_from_5522_to_5621.Rds
data/ttmatrix/ttmatrix_drive_chunk_41_from_5622_to_5721.Rds
data/ttmatrix/ttmatrix_drive_chunk_42_from_5722_to_5821.Rds
data/ttmatrix/ttmatrix_drive_chunk_43_from_5822_to_5921.Rds
data/ttmatrix/ttmatrix_drive_chunk_44_from_5922_to_6021.Rds
data/ttmatrix/ttmatrix_drive_chunk_45_from_6022_to_6121.Rds
data/ttmatrix/ttmatrix_drive_chunk_46_from_6122_to_6221.Rds
data/ttmatrix/ttmatrix_drive_chunk_47_from_6222_to_6321.Rds
data/ttmatrix/ttmatrix_drive_chunk_48_from_6322_to_6421.Rds
data/ttmatrix/ttmatrix_drive_chunk_49_from_6422_to_6521.Rds
data/ttmatrix/ttmatrix_drive_chunk_4_from_1922_to_2021.Rds
data/ttmatrix/ttmatrix_drive_chunk_4_from_608_to_810.Rds
data/ttmatrix/ttmatrix_drive_chunk_50_from_6522_to_6621.Rds
data/ttmatrix/ttmatrix_drive_chunk_51_from_6622_to_6721.Rds
data/ttmatrix/ttmatrix_drive_chunk_52_from_6722_to_6821.Rds
data/ttmatrix/ttmatrix_drive_chunk_53_from_6822_to_6921.Rds
data/ttmatrix/ttmatrix_drive_chunk_54_from_6922_to_7021.Rds
data/ttmatrix/ttmatrix_drive_chunk_55_from_7022_to_7121.Rds
data/ttmatrix/ttmatrix_drive_chunk_56_from_7122_to_7221.Rds
data/ttmatrix/ttmatrix_drive_chunk_57_from_7222_to_7321.Rds
data/ttmatrix/ttmatrix_drive_chunk_58_from_7322_to_7421.Rds
data/ttmatrix/ttmatrix_drive_chunk_59_from_7422_to_7521.Rds
data/ttmatrix/ttmatrix_drive_chunk_5_from_2022_to_2121.Rds
data/ttmatrix/ttmatrix_drive_chunk_5_from_811_to_1013.Rds
data/ttmatrix/ttmatrix_drive_chunk_60_from_7522_to_7621.Rds
data/ttmatrix/ttmatrix_drive_chunk_61_from_7622_to_7700.Rds
data/ttmatrix/ttmatrix_drive_chunk_6_from_1014_to_1215.Rds
data/ttmatrix/ttmatrix_drive_chunk_6_from_2122_to_2221.Rds
data/ttmatrix/ttmatrix_drive_chunk_7_from_1216_to_1418.Rds
data/ttmatrix/ttmatrix_drive_chunk_7_from_2222_to_2321.Rds
data/ttmatrix/ttmatrix_drive_chunk_8_from_1419_to_1621.Rds
data/ttmatrix/ttmatrix_drive_chunk_8_from_2322_to_2421.Rds
data/ttmatrix/ttmatrix_drive_chunk_9_from_2422_to_2521.Rds
data/ttmatrix/ttmatrix_drive_retest_chunk_1_from_1_to_100.Rds
data/ttmatrix/ttmatrix_drive_retest_chunk_2_from_101_to_200.Rds
data/ttmatrix/ttmatrix_drive_retest_chunk_3_from_201_to_300.Rds
data/ttmatrix/ttmatrix_drive_retest_chunk_4_from_301_to_400.Rds
data/ttmatrix/ttmatrix_drive_retest_chunk_5_from_401_to_450.Rds
data/ttmatrix/ttmatrix_walk_chunk_1_from_1_to_1000.Rds
data/ttmatrix/ttmatrix_walk_chunk_2_from_1001_to_2000.Rds
data/ttmatrix/ttmatrix_walk_chunk_3_from_2001_to_3000.Rds
data/ttmatrix/ttmatrix_walk_chunk_4_from_3001_to_4000.Rds
data/ttmatrix/ttmatrix_walk_chunk_5_from_4001_to_5000.Rds
data/ttmatrix/ttmatrix_walk_chunk_6_from_5001_to_6000.Rds
data/ttmatrix/ttmatrix_walk_chunk_7_from_6001_to_7000.Rds
data/ttmatrix/ttmatrix_walk_chunk_8_from_7001_to_7700.Rds
